.App {
  height: 100vh;
  width: 100vw;
  background: rgb(40, 41, 2);
  background: linear-gradient(
    35deg,
    rgba(40, 41, 2, 1) 0%,
    rgba(117, 8, 104, 1) 37%,
    rgb(14, 5, 134) 100%
  );
  position: fixed;
  overflow: scroll;
}

.container {
  background: transparent;
  margin: 5% 10%;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.card {
  color: black;
  background-color: rgba(102, 204, 255, 0.5);
  border: 1px grey solid;
  border-radius: 2%;
  text-align: center;
  padding: 1em 1em 3em 1em;
  transition: all 300ms;
}
.card:hover {
  transform: scale(1.07);
}
.name {
  margin-top: 1em;
  margin-bottom: 1em;
}

.searchBar {
  text-align: center;
  margin-bottom: 3rem;
}
input {
  border: none;
  border-radius: 2%;
  height: 3rem;
  padding-left: 15px;
}
h1 {
  text-align: center;
  font-family: Bigelow Rules;
  font-size: 72px;
  color: rgba(102, 204, 255, 0.5);
}
